/**
 * 登陆页面CSS样式
 */
.dw-logon-bg {
	width: 100%;
	height: 100%;
	border: none;
}

.dw-logon-form {
	position: absolute;
	border: none;
	top: 95px;
	right: 160px;
	width: 326px;
	height: 360px;
	background: url(images/logon/logon_form.png) no-repeat center center;
}

.dw-logon-form-loginname {
	position: absolute;
	left: 55px;
	top: 116px;
	
	border: none;
	width: 216px;
	height: 30px;
	
	font: normal 16px/2 "微软雅黑";
	background: #fff;
}

.dw-logon-form-pwd {
	position: absolute;
	left: 55px;
	top: 194px;
	
	border: none;
	width: 216px;
	height: 30px;
	
	font: normal 16px/2 "微软雅黑";
	background: #fff;
}

.dw-logon-form-savepwd {
	position: absolute;
	left: 53px;
	top: 234px;
	
	width: 13px;
	height: 13px;
}

.dw-logon-form-btnlogin {
	position: absolute;
	left: 55px;
	top: 264px;
	
	border: none;
	width: 216px;
	height: 32px;
	
	font: normal 16px/2 "微软雅黑";
	background: transparent;
	cursor: pointer;
}

.dw-logon-form-getloginname {
	position: absolute;
	right: 71px;
	top: 232px;
	
	border: none;
	width: 80px;
	height: 17px;
	
	cursor: pointer;
	background: transparent;
}

.dw-logon-form-btndebug {
	position: absolute;
	right: 18px;
	top: 118px;
	
	border: none;
	width: 35px;
	height: 35px;
	
	cursor: pointer;
	background: url(images/logon/endit_loginname.png) no-repeat center center;
}

/**
 * 找回用户名弹出框部分CSS
 */
.dw-getusername-bgmask {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	
	width:100%;
	height:100%;
	
	filter:alpha(opacity=50);  
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background-color: #d5e4f2;
}

.dw-getusername-bgmask-frame {
	position: relative;
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 100%;
	z-index: -1;
	
	filter:alpha(opacity=50);  
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.dw-getusername-form {
	position: absolute;
	top: 30%; 
	left: 30%;
	display: none;
	
	width: 600px;
	height: 300px;
}

.dw-getusername-form-content {
	position: absolute;
	overflow: hidden;
	
	width: 462px;
	height: 266px;
	
	border: 1px solid #AAAAAA;
	padding: 0;
	
	cursor: default; 
	background: #fff url(images/logon/look_loginname_bg.png) no-repeat 0 0;
}

.dw-getusername-form-content-btnclose {
	position: absolute;
	top: 4px;
	right: 4px;
	
	width: 20px;
	height: 20px;
	
	cursor: pointer;
}

.dw-getusername-form-content-card {
	position: absolute;
	top: 73px;
	left: 88px;
	z-index:100;
	
	border: none;
	width: 280px;
	height: 30px;
	
	font: normal 16px/2 "宋体";
	background: transparent;
}

.dw-getusername-form-content-placeholder {
	position: absolute;
	top: 73px;
	left: 88px;
	
	width: 280px;
	height: 30px; 
	
	font: normal 16px/2 "宋体";
	
	background:transparent;
}

.dw-getusername-form-content-loginname {
	position: absolute;
	top: 130px;
	left: 88px;
	
	height: 30px;
	width: 280px;
	
	font: normal 16px/2 "宋体";
	
	background:transparent;
}

.dw-getusername-form-content-btn {
	position: absolute;
	bottom: 38px;
	left: 84px;
	
	width: 300px;
	height: 38px;
	
	cursor: pointer;
	background: transparent;
}