<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="dazhimen/bg/bean/user/UserBean.xml"/>
        <mapper resource="dazhimen/bg/bean/customer/CustomerBean.xml"/>
        <mapper resource="dazhimen/bg/bean/product/ProductBean.xml"/>
        <mapper resource="dazhimen/bg/bean/login/LoginBean.xml"/>
        <mapper resource="dazhimen/bg/bean/playsort/PlaySortBean.xml"/>
        <mapper resource="dazhimen/bg/bean/recharge/RechargeBean.xml"/>
        <mapper resource="dazhimen/bg/bean/order/OrderBean.xml"/>
        <mapper resource="dazhimen/bg/bean/news/NewsBean.xml"/>
        <mapper resource="dazhimen/bg/bean/permission/PermissionBean.xml"/>

        <mapper resource="dazhimen/api/bean/customer/ApiCustomerBean.xml"/>
        <mapper resource="dazhimen/api/bean/login/ApiLoginBean.xml"/>
        <mapper resource="dazhimen/api/bean/product/ApiProductBean.xml"/>
        <mapper resource="dazhimen/api/bean/master/ApiMasterBean.xml"/>
        <mapper resource="dazhimen/api/bean/other/ApiIndexPlayBean.xml"/>
        <mapper resource="dazhimen/api/bean/recharge/ApiRechargeBean.xml"/>
        <mapper resource="dazhimen/api/bean/order/ApiOrderBean.xml"/>
        <mapper resource="dazhimen/api/bean/other/ApiGlobalBean.xml"/>
        <mapper resource="dazhimen/api/bean/news/ApiNewsBean.xml"/>
    </mappers>
</configuration>